/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.btn {
  margin: 5px;
  margin-top: 10px;
  background-color: #eeeeee;
  color: black;
  padding: 13px 30px;
  /* padding: 13px 25px 13px 50px; */
  border-radius: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-decoration: none;
  display: inline-block;
  outline: none;
  text-align: center;
}

.btn-instagram:hover {
  background-color: #d6249f;
  color: white;
}

.btn-linkedin:hover {
  background-color: #0077b5;
  color: white;
}

.btn-kontakt:hover {
  background-color: #dad04d;
  background-color: #d0ba8e;
  color: black;
}

.btn-form {
  background-color: #fdf68f;
  font: inherit;
  font-weight: 700;
  margin-bottom: 1rem;
  justify-self: center;
  border: none;
}
.btn-form:hover {
  background: #fff676;
}

a.btn.mobile {
  background: none;
  margin: 0.5rem;
  padding: 0;
  color: #555;
}
a.btn.mobile:hover, a.btn.mobile:active {
  color: #ff1177;
  box-shadow: none;
}

.header {
  background-color: #1c171b;
  background: #1c171b url(/images/ragnhild-bakgrunn.png) bottom left/cover no-repeat;
  background-attachment: fixed;
  height: 95vh;
  width: 100%;
  color: white;
  text-align: center;
  display: flex;
  align-items: top;
  justify-content: center;
  margin-bottom: 0;
  padding-top: 1.8rem;
}
@media (min-width: 900px) {
  .header {
    padding-top: 0;
    height: 100vh;
    width: 100vw;
    align-items: center;
    background: #1c171b url(/images/ragnhild-bakgrunn.png) bottom left/80% no-repeat;
    background-attachment: fixed;
  }
}
@media (max-height: 499px) {
  .header {
    justify-content: flex-end;
    height: 90vh;
  }
}
@media (min-width: 900px) and (max-width: 1010px) {
  .header {
    width: calc(100vw - 20rem);
    justify-content: flex-end;
  }
}

.header-name {
  color: #fff;
  font-family: Monoton;
  -webkit-animation: none;
  -moz-animation: none;
  animation: none;
  font-size: 3em;
  display: inline;
  position: relative;
  -webkit-animation: neon1 2.5s ease-in 1s;
  -moz-animation: neon1 2.5s ease-in 1s;
  animation: neon1 2.5s ease-in-out 0.5s;
  z-index: 20;
}
@media (min-width: 749px) {
  .header-name {
    font-size: 4em;
  }
}

.header-name:hover {
  color: #ff1177;
}

@keyframes neon1 {
  0% {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff1177, 0 0 70px #ff1177, 0 0 80px #ff1177, 0 0 100px #ff1177, 0 0 150px #ff1177;
  }
  50% {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff1177, 0 0 35px #ff1177, 0 0 40px #ff1177, 0 0 50px #ff1177, 0 0 75px #ff1177;
  }
  100% {
    text-shadow: none;
  }
}
.header-subtitle {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.5em;
  margin-top: 10px;
  margin-bottom: 10px;
}

.social-media-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}
.social-media-buttons a {
  width: 6rem;
}

.backdrop {
  z-index: 50;
  height: 100vh;
  width: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
}
@media (min-width: 900px) {
  .backdrop {
    display: none;
  }
}

.mobile-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  width: 85%;
  max-width: 20rem;
  height: 100%;
  z-index: 100;
  background-color: #1c171b;
  transform: translateX(0);
  transition: transform 0.4s;
}
@media (min-width: 900px) {
  .mobile-nav {
    transition-property: none;
    grid-area: menu;
    width: 20rem;
  }
}
.mobile-nav p {
  font-size: 1.2rem;
  padding-top: 0.6rem;
}
.mobile-nav .brand {
  text-align: center;
  color: #bbb;
  font-family: Monoton;
  font-size: 2.7em;
  display: inline;
  position: relative;
}
.mobile-nav .brand a {
  color: #bbb;
}
.mobile-nav .brand a:hover {
  color: #ff1177;
}
@media (max-height: 499px) {
  .mobile-nav .brand a {
    display: none;
  }
}
.mobile-nav .brand-sub {
  color: #bbb;
}
@media (max-height: 499px) {
  .mobile-nav .brand-sub {
    display: none;
  }
}
@media (max-height: 499px) {
  .mobile-nav .nav__social-media {
    display: none;
  }
}
.mobile-nav .nav__social-media p {
  color: #777;
  margin-top: 1.1rem;
}
.mobile-nav .mobile-menu {
  margin-top: 3rem;
  font-weight: bold;
  text-align: center;
}
@media (max-height: 499px) {
  .mobile-nav .mobile-menu {
    margin-top: 0;
  }
}
.mobile-nav .mobile-menu a {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 3rem;
  color: #bbb;
}
.mobile-nav .mobile-menu a:hover {
  color: #ff1177;
}

.mobile-nav.hidden {
  display: flex;
}
@media (max-width: 899px) {
  .mobile-nav.hidden {
    transform: translateX(100%);
  }
}

.mobile-menu-bar {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  z-index: 49;
  background-color: #1c171b;
  color: #bbb;
  padding: 0.8rem;
  box-shadow: 0px -0.5px 5px 0px rgba(0, 0, 0, 0.75);
  opacity: 1;
  transition: opacity 0.2s;
}
.mobile-menu-bar .mobile-brand {
  color: #bbb;
  font-size: 1.2em;
  font-weight: 400;
}

@media (max-width: 899px) {
  .mobile-menu-bar.hidden {
    opacity: 0;
  }
}

.mobile-menu-button {
  color: #bbb;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 0.5rem;
  margin-right: 1.5rem;
  border-radius: 10%;
}
.mobile-menu-button:hover, .mobile-menu-button:active {
  color: #ff1177;
}

footer {
  text-align: center;
  background-color: #1c171b;
  color: white;
  padding: 1rem;
  margin-top: 1rem;
}
@media (min-width: 900px) {
  footer {
    width: calc(100vw - 20rem);
  }
}

input {
  text-align: center;
}

textarea {
  height: 5rem;
}

input,
textarea {
  background: #f3f3f3;
  border: 1px solid #bbbbbb;
  border-radius: 5px;
  justify-self: center;
  width: 90%;
  outline: none;
  font: inherit;
  font-size: 1.2rem;
  padding: 0.5rem;
}
input:focus,
textarea:focus {
  background: #d5f7d3;
  border: none;
}
@media (min-width: 900px) {
  input,
textarea {
    max-width: 20rem;
  }
}

section {
  padding: 1rem 0;
  padding-top: 0;
  padding-bottom: 5rem;
  background: white;
}
section img {
  width: 100%;
}
section .section-header h2 {
  padding: 6rem 1rem;
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  display: block;
  background: rgba(28, 23, 27, 0.7);
  color: #fff;
  border-top: 1rem solid #b483e2;
}
@media (min-width: 900px) {
  section .section-header h2 {
    padding: 3rem 1rem;
  }
}
section p {
  margin: 2rem 1rem;
}

#about {
  padding-bottom: 0;
}
#about .about-content {
  overflow: auto;
}
#about .section-header {
  background: center/cover url(../images/about.jpg);
  background-color: #ccc;
}
#about .about-img {
  border-radius: 50%;
  width: 100%;
  max-width: 20rem;
}
@media (min-width: 749px) {
  #about .about-img {
    float: left;
    shape-outside: circle();
    margin: 2rem;
  }
}
#about .about-content {
  margin: 2rem;
}
@media (min-width: 749px) {
  #about .about-content {
    text-align: left;
  }
}
#about .about-text {
  padding-top: 3rem;
}
#about .cv-link {
  font-size: 1.3rem;
}
#about .about-content h2 {
  font-size: 2rem;
  margin: 2rem 1rem;
}
@media (min-width: 749px) {
  #about .about-content h2 {
    text-align: left;
  }
}
#about .video {
  width: 100%;
  margin: 2rem 0;
  padding: 0;
}
#about .video iframe {
  width: 100%;
  height: 100%;
  margin: 0;
}
@media (min-width: 749px) {
  #about .video {
    margin: 2rem auto;
    max-width: 720px;
  }
}

#contact {
  text-align: center;
}
#contact .section-header {
  background: center/cover url(../images/contact.jpg);
  background-color: #ccc;
}
#contact h2 {
  position: relative;
  font-weight: bold;
  z-index: 10;
}
#contact p {
  position: relative;
  text-align: center;
  padding: 20px 10px;
  line-height: 1.5rem;
  z-index: 10;
}

label {
  font-weight: bold;
}
@media (min-width: 900px) {
  label {
    text-align: right;
  }
}

.contact-form {
  display: grid;
  grid-gap: 1rem;
}
@media (min-width: 900px) {
  .contact-form {
    grid-template-columns: 1fr 2fr;
  }
}

#reel {
  background: #1c171b;
}
@media (min-width: 900px) {
  #reel {
    padding-bottom: 0;
  }
}
#reel p {
  text-align: center;
}
#reel .section-header {
  background: center/cover url(../images/reel.jpg);
  background-color: #ccc;
}
#reel .showreel {
  padding: 56.25% 0 0 0;
  position: relative;
  margin-top: 3rem;
}
@media (min-width: 900px) {
  #reel .showreel {
    margin-top: 0;
  }
}
#reel .showreel iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#gallery .section-header {
  background: center/cover url(../images/gallery.jpg);
  background-color: #ccc;
}

#resume {
  display: flex;
  flex-direction: column;
}
#resume .section-header {
  background: center/cover url(../images/resume.jpg);
  background-color: #ccc;
  margin-bottom: 3rem;
}
#resume table {
  width: 100%;
  text-align: left;
}
@media (min-width: 900px) {
  #resume table {
    align-self: center;
    max-width: 60rem;
  }
}
#resume table thead tr:nth-child(2) {
  background-color: #d8b7b7;
  color: #333;
  font-weight: 700;
  padding: 1rem 1rem;
}
#resume table tbody tr:nth-child(odd) {
  background-color: #f2f2fa;
}
#resume table tbody tr:hover:not(.table-gap) {
  background: rgba(180, 131, 226, 0.4);
}
#resume table td,
#resume table th {
  padding: 0.5rem 0;
}
@media (max-width: 749px) {
  #resume table tr td:nth-child(4),
#resume table tr td:nth-child(5),
#resume table tr th:nth-child(4),
#resume table tr th:nth-child(5) {
    display: none;
  }
}
#resume .table-header {
  font-size: 1.1rem;
  padding: 0.5rem 0;
  background-color: #b65d5d;
  text-align: center;
  color: white;
  font-weight: 700;
}
#resume .table-gap td {
  height: 1.5rem;
}
#resume .actor-data {
  margin-bottom: 2rem;
}
#resume .actor-data th {
  font-weight: 700;
}
#resume .actor-data .actor-data-header {
  font-size: 1.1rem;
  padding: 0.5rem 0;
  background-color: #635db6;
  text-align: center;
  color: white;
  font-weight: 700;
}

#gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
#gallery p {
  text-align: center;
}

.img-showcase {
  align-self: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 62rem;
}
.img-showcase img:hover {
  filter: grayscale(50%);
}
@media (min-width: 900px) {
  .img-showcase {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 900px) {
  .img-showcase {
    width: 80%;
  }
}

a {
  color: #ff1177;
  text-decoration: none;
}
a:hover {
  color: #b483e2;
}

p {
  font-weight: 300;
}

body {
  background: #1c171b;
  font-family: "Roboto", sans-serif;
  display: grid;
  grid-template-areas: "header" "main" "footer" "menu-bar";
}
@media (min-width: 900px) {
  body {
    grid-template-columns: auto 20rem;
    grid-template-areas: "header header" "main menu" "footer footer";
  }
}

header {
  grid-area: header;
}

main {
  display: block;
  grid-area: main;
}
@media (min-width: 900px) {
  main {
    width: calc(100vw - 20rem);
  }
}

footer {
  grid-area: footer;
}

.mobile-menu-bar {
  grid-area: menu-bar;
}
@media (min-width: 900px) {
  .mobile-menu-bar {
    display: none;
  }
}

nav {
  height: 5vh;
}

::selection {
  background-color: rgba(177, 84, 180, 0.486);
}

input {
  display: block;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.center {
  text-align: center;
}

.backdrop.hidden {
  display: none;
}

@media (min-width: 900px) {
  #about .section-header,
#contact .section-header,
#gallery .section-header,
#reel .section-header,
#resume .section-header {
    background-attachment: fixed;
  }
}

/*# sourceMappingURL=style.css.map */
