input {
  text-align: center;
}

textarea {
  height: 5rem;
}

input,
textarea {
  background: rgb(243, 243, 243);
  border: 1px solid rgb(187, 187, 187);
  border-radius: 5px;
  justify-self: center;
  width: 90%;
  outline: none;
  font: inherit;
  font-size: 1.2rem;
  padding: 0.5rem;
  &:focus {
    background: rgb(213, 247, 211);
    border: none;
  }
  @include for-size(tablet-landscape-up) {
    max-width: 20rem;
  }
}