.header {
  background-color: rgb(71, 0, 73);
  background: url(headshot.jpg) center;
  height: 95vh;
  width: 100%;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 7rem;
}

.header-name {
  color: #fff;
  font-family: Monoton;
  -webkit-animation: none;
  -moz-animation: none;
  animation: none;
  font-size: 3em;
  display: inline;
  position: relative;
  @include for-size(tablet-portrait-up) {
    font-size: 4em;
  }
}

.header-name:hover {
  color: #ff1177;
  /* -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
  -moz-animation: neon1 1.5s ease-in-out infinite alternate;
  animation: neon1 1.5s ease-in-out infinite alternate; */
}

@keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff1177, 0 0 70px #ff1177, 0 0 80px #ff1177, 0 0 100px #ff1177, 0 0 150px #ff1177;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff1177, 0 0 35px #ff1177, 0 0 40px #ff1177, 0 0 50px #ff1177, 0 0 75px #ff1177;
  }
}

.header-subtitle {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.5em;
  margin-top: 10px;
  margin-bottom: 10px;
}

.social-media-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
  a {
    width: 6rem;
  }
}