.backdrop {
  z-index: 50;
  height: 100vh;
  width: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  @include for-size(tablet-landscape-up) {
    display: none;
  }
}

.mobile-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  width: 85%;
  max-width: $sidebar-width;
  height: 100%;
  z-index: 100;
  background-color: $black;
  transform: translateX(0);
  transition: transform 0.4s;
  @include for-size(tablet-landscape-up) {
    transition-property: none;
    grid-area: menu;
    width: $sidebar-width;
  }
  p {
    font-size: 1.2rem;
    padding-top: 0.6rem;
  }
  .brand {
    text-align: center;
    color: $bright;
    font-family: Monoton;
    font-size: 2.7em;
    display: inline;
    position: relative;
    a {
      color: $bright;
      &:hover {
        color: $neon-pink;
      }
      @include for-size(phone-vertical) {
        display: none;
      }
    }
  }
  .brand-sub {
    color: $bright;
    @include for-size(phone-vertical) {
      display: none;
    }
  }
  .nav__social-media {
    @include for-size(phone-vertical) {
      display: none;
    }
    p {
      color: #777;
      margin-top: 1.1rem;
    }
  }
  .mobile-menu {
    margin-top: 3rem;
    font-weight: bold;
    text-align: center;
    @include for-size(phone-vertical) {
      margin-top: 0;
    }
    a {
      text-decoration: none;
      font-size: 1.5rem;
      font-weight: 700;
      line-height: 3rem;
      color: $bright;
      &:hover {
        color: $neon-pink;
      }
    }
  }
}

.mobile-nav.hidden {
  display: flex;
  @include for-size(tablet-landscape-down) {
    transform: translateX(100%);
  }
}

.mobile-menu-bar {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  z-index: 49;
  background-color: $black;
  color: $bright;
  padding: 0.8rem;
  box-shadow: 0px -0.5px 5px 0px rgba(0, 0, 0, 0.75);
  opacity: 1;
  transition: opacity 0.2s;
  .mobile-brand {
    color: $bright;
    font-size: 1.2em;
    font-weight: 400;
  }
}

.mobile-menu-bar.hidden {
  @include for-size(tablet-landscape-down) {
    opacity: 0;
  }
}

.mobile-menu-button {
  color: $bright;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 0.5rem;
  margin-right: 1.5rem;
  border-radius: 10%;
  &:hover,
  &:active {
    color: $neon-pink;
  }
}