#contact {
  text-align: center;
  .section-header {
    background: center / cover url(../images/contact.jpg);
    background-color: #ccc;
  }
  h2 {
    position: relative;
    font-weight: bold;
    z-index: 10;
  }
  p {
    position: relative;
    text-align: center;
    padding: 20px 10px;
    line-height: 1.5rem;
    z-index: 10;
  }
}

label {
  font-weight: bold;
  @include for-size(tablet-landscape-up) {
    text-align: right;
  }
}

.contact-form {
  display: grid;
  grid-gap: 1rem;
  @include for-size(tablet-landscape-up) {
    grid-template-columns: 1fr 2fr;
  }
}