#reel {
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.836);
  @include for-size(tablet-landscape-up) {
    padding-bottom: 0;
  }
  p {
    text-align: center;
  }
  .section-header {
    background: center / cover url(../images/reel.jpg);
    background-color: #ccc;
  }
  .showreel {
    padding: 56.25% 0 0 0;
    position: relative;
    margin-top: 3rem;
    @include for-size(tablet-landscape-up) {
      margin-top: 0;
    }
  }
}