#reel {
  background: $black;
  @include for-size(tablet-landscape-up) {
    padding-bottom: 0;
  }
  p {
    text-align: center;
  }
  .section-header {
    background: center / cover url(../images/reel.jpg);
    background-color: #ccc;
  }
  .showreel {
    padding: 56.25% 0 0 0;
    position: relative;
    margin-top: 3rem;
    @include for-size(tablet-landscape-up) {
      margin-top: 0;
    }
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}