section {
  padding: 1rem 0;
  padding-top: 0;
  padding-bottom: 5rem;
  img {
    width: 100%;
  }
  h2 {
    padding: 6rem 1rem;
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    display: block;
    background: rgba(58, 28, 58, 0.781);
    color: white;
    @include for-size(tablet-portrait-up) {
      padding: 3rem 1rem;
    }
  }
  p {
    margin: 2rem 1rem;
  }
}