// Variables
$neon-pink: #ff1177;
$beige: #d0ba8e;
$purple: #b483e2;
$sidebar-width: 20rem;
$black: #1c171b;
$bright: #bbb;
@import 'reset';
@import 'breakpoints';
@import 'button';
@import 'header';
@import 'nav';
@import 'footer';
@import 'form';
@import 'section';
@import 'section__about';
@import 'section__contact';
@import 'section__reel';
@import 'section__gallery';
@import 'section__resume';
@import 'gallery';
@import 'animations';
a {
  color: $neon-pink;
  text-decoration: none;
  &:hover {
    color: $purple;
  }
}

p {
  font-weight: 300;
}

body {
  background: $black;
  font-family: "Roboto", sans-serif;
  display: grid;
  grid-template-areas: "header" "main" "footer" "menu-bar";
  @include for-size(tablet-landscape-up) {
    grid-template-columns: auto $sidebar-width;
    grid-template-areas: "header header" "main menu" "footer footer";
  }
}

header {
  grid-area: header;
}

main {
  display: block;
  grid-area: main;
  @include for-size(tablet-landscape-up) {
    width: calc(100vw - #{$sidebar-width});
  }
}

footer {
  grid-area: footer;
}

.mobile-menu-bar {
  grid-area: menu-bar;
  @include for-size(tablet-landscape-up) {
    display: none;
  }
}

nav {
  height: 5vh;
}

::selection {
  background-color: rgba(177, 84, 180, 0.486);
}

input {
  display: block;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.center {
  text-align: center;
}

// Hidden styles
.backdrop.hidden {
  display: none;
}

#about,
#contact,
#gallery,
#reel,
#resume {
  .section-header {
    @include for-size(tablet-landscape-up) {
      background-attachment: fixed;
    }
  }
}